@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.75rem;
}

body {
  @apply bg-background text-foreground;
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}